@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#06202A] flex items-center justify-center;
  }
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: Regular;
  src: url("/assets/fonts/Inter-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: SemiBold;
  src: url("/assets/fonts/SemiBold.ttf") format("ttf");
}
